@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../../public//fonts//JetBrainsMono/JetBrainsMono";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(112, 0, 255, 0.05);
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  @apply bg-gray-dark-5 text-white overflow-x-hidden;
  /* cursor: none; */
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 320px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 15px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
  @media (min-width: 1536px) {
    font-size: 18px;
  }
  @media (min-width: 1800px) {
    font-size: 20px;
  }
  @media (min-width: 2000px) {
    font-size: 22px;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(112, 0, 255, 0.75);
  opacity: 0.5;
  border-radius: 1rem;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.indigo.dark");
  opacity: 1;
}

::-moz-selection {
  background-color: theme("colors.purple");
  color: #fff;
}

::selection {
  background-color: theme("colors.purple");
  color: #fff;
}

.text-gradient {
  background: linear-gradient(
    to right,
    theme("colors.indigo.light"),
    theme("colors.indigo.dark")
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-container {
  @apply xl:px-20 md:px-12 px-4 mx-auto;
}

.soundBars {
  position: absolute;
  height: 19px;
  width: 18px;
  border-radius: 100%;
  span {
    background: #120e16;
    margin: auto 1px 0;
    height: 100%;
    width: 2px;
    transform: scaleY(0.99);
    transform-origin: bottom;
    box-shadow: 0 4px 0 rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease-in-out;

    // Different height bars
    &:nth-child(1) {
      transform: scaleY(0.8);
    }
    &:nth-child(2) {
      transform: scaleY(0.6);
    }
    &:nth-child(4) {
      transform: scaleY(0.4);
    }
  }
  &.play > span {
    animation: sound-bars-animation 2s infinite alternate-reverse;
    background: linear-gradient(
      to right,
      theme("colors.indigo.light"),
      theme("colors.indigo.dark")
    );

    // Scatter animations
    &:nth-child(1) {
      animation-delay: 0.4s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
    &:nth-child(4) {
      animation-delay: 0.8s;
    }
  }
  &:before {
    content: "";
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    background: #dbdbdb;
    border-radius: 100%;
    transition: all 0.4s ease-in-out;
  }
  &:hover {
    &:before {
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      opacity: 1;
    }

    > span {
      background: linear-gradient(
        to right,
        theme("colors.indigo.light"),
        theme("colors.indigo.dark")
      );
    }
  }
}

@keyframes sound-bars-animation {
  // 0% - 50% uses inherited properties
  50% {
    opacity: 0.2;
    transform: scaleY(0.2);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
